/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body { background-color: white; 
}
header {
	background-color: pink;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navlist a {
	display: inline;
	font-family: garamond;
	color: grey;
	text-decoration: underline;
}
.navlist li {
	display: inline;
	font-family: garamond;
}
.navlist ul {
	padding-left: 15px;
	display: inline;
}
.navlist a:hover {
	color: white;
}
/* styling overrides*/
i, em {
	font-style: italic;
}
h1, h2 {
	font-family: monotype corsiva;
}
h1 {
	text-align: center;
	color: white;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 75px;
	background-color: coral;
}
h2 {
	color: coral;
	padding: 10px 5px 5px 15px;
	font-size: 35px;
	text-align: center;
	text-decoration: underline;
}
.container {
	margin: 30px 0px 30px;
}
.pageintro {
	padding-bottom: 40px;
}
.pageintro h2 {
	text-align: center;
}
.pageintro p {
	text-align: center;
}
p {
	color: grey;
	padding-left: 15px;
	padding-top: 5px;
	font-family: garamond;
	font-size: 20px;
}
ul {padding-left: 30px;
	padding-top: 10px;
	color: grey;
	font-family: garamond;
	font-size: 17px;
}
li {
	display: list-item;
	list-style-type: square;
	font-size: 20px;
}
.company a {
	color: coral;
	font-size: 20px;
}
.company a:hover {
	text-decoration: underline;
	color: white;
}
.company p {
	padding-left: 15px;
}
a {
	text-decoration: none;
}
aside {
	float: right;
	text-align: center;
	width: 170px;
	color: grey;
	background-color: pink;
	border-width: 5px;
	border-style: groove;
	border-color: orange;
	margin-right: 30px;
	height: 362
}
aside ul {
	padding: 10px 10px 0px 30px;
	text-align: left;
}
aside h2 {
	text-align: left;
}
aside li {
	list-style-type: circle;
	font-size: 14px;
	padding-bottom: 3px;
}
.comminv section {
	float: left;
	background-color: pink;
	height: 372px;
	width: 450px;

}
.jobhistory section {
	float: left;
	background-color: pink;
	padding-bottom: 10px;
	margin: 0 30px;
	width: 450px;
}
.pageintro {
	text-align: center;
}
.section2 section {
	background-color: pink;
	margin: 30px 15px 0px 30px;
	width: 890px;
	padding: 20px;
}
footer {
	clear: both;
	background-color: coral;
	padding: 20px 15px;
	color: white;
	text-align: left;
	font-size: 40px;
	text-shadow:
	7px -7px 10px green,
	9px -9px 12px white;
}
section {
	float: left;
}
.gradientexp {
	background-image: linear-gradient(rgb(100,120,150),rgb(180,200,220));
}